.expander {
    margin-left: 2vh;
    flex: 1;
    font-size: 56%;
    text-transform: uppercase;
    background-color: white;
}

.networkConfig {
    flex-direction: column;
    width: 80%;

    font-size: 4vh;

    & > div:first-child label {
        width: auto;
    }

    & > div {
        margin-top: 4vh;
        label {
            display: flex;
            align-items: center;
            width: 15vh;

            input:first-child {
                margin-right: 2vh;
                padding-bottom: 1vh;
            }
        }
    }
}
