#board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    z-index: 1;
    border-right: 1px solid black;
    background: black;

    * {
        display: flex;
        justify-content: center;
        align-items: center;

        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
    }

    .col {
        flex-direction: column;
    }
}
