/* .rainbow { */
/*     background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red); */
/*     -webkit-background-clip: text; */
/*     -webkit-text-fill-color: transparent; */
/* } */

.rainbow {
    background-image: linear-gradient(to left, violet, lightblue, lightgreen, #f0f074, orange, #e26060, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow_animation 4s linear infinite;
    background-size: 200% 100%;
    background-repeat: repeat-x;
}

@keyframes rainbow_animation {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 200% 0;
    }
}
